#root, html, body {
    height: 100%;
    background-color: var(--color-my-blue-dark);
}
* {
    box-sizing: content-box;
    transition: all .3s ease;
}



body {
    font-family: 'posten', sans-serif;
}

body > *{
 overflow-x: hidden;
}

input::placeholder {
    color: currentColor;
    opacity: .5;
    font-style: italic;
}

/* Calendar Styles */
.react-calendar__tile {
    cursor: pointer;
}

.react-calendar__tile:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.react-calendar__tile--active {
    border: 1px solid var(--color-my-white-dark);
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-my-white-light);
    border-radius: 5px;
}

/* Fonts */
@font-face {
    font-family: 'gowun';
    src: url('/fonts/Gowun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'wdx';
    src: url('/fonts/WDX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'posten';
    src: url('/fonts/posten.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
