#root, html, body {
    height: 100%;
    overflow: hidden;
    background-color: var(--color-my-white-light);
}
* {
    box-sizing: content-box;
    transition: all .5s ease;
}

body {
    font-family: 'posten', sans-serif;
}

input::placeholder {
    color: currentColor;
    opacity: .5;
    font-style: italic;
}


/* Fonts */
@font-face {
    font-family: 'gowun';
    src: url('/fonts/Gowun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'wdx';
    src: url('/fonts/WDX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'posten';
    src: url('/fonts/posten.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
