@import "tailwindcss";

@theme {

    /* Colors */
    --color-my-red-light: #ff8ca1;
    --color-my-red-base: #f2055c;
    --color-my-red-dark: #ad0241;

    --color-my-green-light: #69d1a4;
    --color-my-green-base: #0bb07c;
    --color-my-green-dark: #076346;

    --color-my-blue-light: #a1dde3;
    --color-my-blue-base: #0edbed;
    --color-my-blue-dark: #038894;

    --color-my-white-light: #fff2d9;
    --color-my-white-base: #ffe0a3;
    --color-my-white-dark: #fcca68;

    --color-my-black-light: #484848;
    --color-my-black-base: #242424;
    --color-my-black-dark: #121212;


    /* Animations */
    --animate-march: march 10s linear infinite;
    --animate-fade-in: fade-in 0.3s ease-out;
    
    @keyframes march {
        0% {
            stroke-dashoffset: 0;
        }
        100% {
            stroke-dashoffset: -100;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }



  }